body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxKSDQ00eU7fPVuCLmLucTkI2m4WNiwCR1GQGwJAQNdObeM8g8h-36dFE&s=10);
    background-size: cover;
    background-repeat: no-repeat;
}